{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>La purisima | Agregar registro de confirmacíon</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/addDoc.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/formstyle.css' %}">
    <script src="{% static 'js/jsapp.js' %}" defer></script>
  </head>
  <body data-section="confirmacion">
    <div class="container_preview">
      <h1><strong>PARTIDAS DE CONFIRMACIÓN</strong></h1>
      <button id="previewButtonC" type="button" class="normal_button">Agregar al Preview</button>
      <div class="preview" id="preview"></div>
      <div style="display: flex; justify-content: center;">
        <button id="imp" class="normal_button">IMPRIMIR</button>
        <script>
          document.getElementById('imp').addEventListener('click', function() {
              window.print();
          });
        </script>
        <button id="fondo" class="normal_button">CAMBIAR FORMATO</button>
        <input type="file" id="uploadFile" accept="image/*, application/pdf" style="display: none;">
      </div>
    </div>

    <div class="container_right">
      <section class="container_input">
        <form method="post">
          {% csrf_token %}
          <label style="heigh:5px" for="parroquia">Parroquia:</label>
          <input style="heigh:5px" id="parroquia" name="parroquia" type="text" value="La purísima - Concepción"/>

          <label for="nombre">Nombre Completo:</label>
          <input id="nombre" name="nombre" type="text" required/>

          <label for="fecha">Fecha de confirmacion:</label>
          <input id="fecha" name="fecha" type="date" required/>

          <label for="ex_monsenor">Excmo. Mons.:</label>
          <input id="ex_monsenor" name="ex_monsenor" type="text" required/>

          <label for="padres">Padres:</label>
          <input id="padres" name="padres" type="text" required />

          <label for="padrinos">Padrinos:</label>
          <input id="padrinos" name="padrinos" type="text"/>

          <div class="container_save">
            <button type="submit" class="normal_button">GUARDAR</button>
          </div>

        </form>
        <div class="container_save" style="justify-content: center">
          <a href="{% url 'confirm' %}">
            <button class="red_button">CANCELAR</button>
          </a>
        </div>
      </section>
    </div>

    <div class="container_home">
      <a href="/confirmacion">
        <button class="home_button">
          <img class="home_icon" src="{% static 'src/back_icon.png' %}" alt="icono de atras" />
        </button>
      </a>

      <a href="/">
        <button class="home_button">
          <img class="back_icon" src="{% static 'src/home_icon.png' %}" alt="icono de home" />
        </button>
      </a>
    </div>
  </body>
</html>
