{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Confirmaciones</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/viewDoc.css' %}">
  </head>
  <body >
    <div class="container_top">
      <section class="container_filtro">
        <!-- Todos los filtros están dentro de un solo formulario -->
        <form method="GET" action="{% url 'listar_confirmacion' %}" style="display: flex; flex-direction: column;">
          <div class="input_group_container" style="display: flex; gap: 20px;">
            <div class="input_group">
              <label>Apellidos y Nombres</label>
              <input class="large_input" type="text" name="nombre" value="{{ request.GET.nombre }}" />
            </div>

            <div class="input_group">
              <label>Año Confirmación</label>
              <input class="normal_input" type="number" name="ano_confirmacion" value="{{ request.GET.ano_confirmacion }}" />
            </div>
          </div>

          <!-- Contenedor para centrar los botones -->
          <div class="button_container" style="display: flex; justify-content: center; margin-top: 20px;">
            <!-- Botón de "Filtrar" -->
            <button class="normal_button" type="submit" style="margin-right: 10px;">FILTRAR</button>

            <!-- Botón de "Eliminar Filtro" -->
            <a href="{% url 'listar_confirmacion' %}">
              <button class="normal_button eliminar" type="button">ELIMINAR FILTRO</button>
            </a>
          </div>
        </form>
      </section>
    </div>


    <section class="container_resultados">
      <article class="article_resultado">
        <table>
          <thead>
            <tr>
              <th>Apellidos y Nombres</th>
              <th>Padres</th>
              <th>Exc. Mons:</th>
              <th>Fecha</th>
              <th>Opciones</th>
            </tr>
          </thead>
          {% for conf in confirms %}
          <tbody>
            <tr>
              <td>{{ conf.nombre }}</td>
              <td>{{ conf.padres }}</td>
              <td>{{ conf.ex_monsenor }}</td>
              <td>{{ conf.fecha }}</td>
              <td style="text-align: center; justify-content: center; width:auto;">
                <a style="background-color: #558a9b; color: white; border: none; padding: 10px 20px; text-align:
                          center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px;
                          cursor: pointer; border-radius: 12px; width:auto;"
                   href="/printConfirm/{{conf.id}}"><strong>Imprimir/Editar</strong></a>
                <a style="background-color: #b75b5b; color: white; border: none; padding: 10px 20px; text-align: center;
                          text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;
                          border-radius: 12px; width:auto;"
                   href="/delConfirm/{{conf.id}}"><strong>Eliminar</strong></a>
              </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </article>
    </section>

    <div class="container_agregar">
      <a href="{% url 'addConfirm' %}">
        <button class="normal_button">AGREGAR</button>
      </a>
    </div>

    <div class="container_home">
      <a href="/">
        <button class="home_button">
          <img class="home_icon" src="{% static 'src/home_icon.png' %}" alt="icono de home" />
        </button>
      </a>
    </div>
  </body>
</html>
